
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 80px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.label-group[href] {
    background-color: #999;
}
.label-group[href]:hover, .label-group[href]:focus {
    opacity: .8;
}

.label-female[href] {
    background-color: #CC333F;
}
.label-male[href] {
    background-color: #00A0B0;
}
.label-designer[href] {
    background-color: #EB6841;
}
.label-manager[href] {
    background-color: #6A4A3C;
}
.label-beard[href] {
    background-color: #6A4A3C;
}
.label-developer[href] {
    background-color: #EDC951;
}

.achievment-image-icon {
    height: 30px;
}